<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
</head>
<body>
    <h1> <%= kindOfDay %> </h1>

    <ul>
        <li>Buy Food</li>
        <li>Cook Food</li>
        <li>Eat Food</li>
        <li> <%= newListItem %> </li>
    </ul>
    <form action="/" method="post">
        <input type="text" name="newItem" placeholder="enter the list">
        <button type="submit">Add</button>
    </form>
    <!-- <% if (kindOfDay === "Saturday" || kindOfDay === "Sunday"){ %>
        <h1 style="color: goldenrod;">This is a <%= kindOfDay %> ToDo list</h1>
    <% }else { %>
        <h1 style="color: palevioletred;">This is a <%= kindOfDay %> ToDo list</h1>
    <% } %>     -->
</body>
</html> 